// Main Color Settings //

$BackgroundColor: #e8ffe8;
$TreeColor1: #69c069;
$TreeColor2: #77dd77;
$TreeBorder: #00000019;
$WoodColor1: #bb4622;
$WoodColor2: #df7214;
$WoodBorder: #00000055;
$TreeShadow: #0002;

// Main Color Settings //